main{
    .card{
        overflow: scroll;
        max-height: 70vh;
        table{
            tbody{
                th{
                    vertical-align: middle;
                }
                td{
                    img{
                        width: 100%;
                        min-width: 100px;
                        max-width: 200px;
                        height: 100%;
                        max-height: 200px;
                        object-fit: contain;
                        object-position: center;
                    }
                    vertical-align: middle;
                }
            }
        }
    }
}